{% load static %}
<html>
<head>
    <title>Payment</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
<form class="payment-form">
    <div class="row">
        <div class="error error-user"></div>
        <label for="user">User:</label>
        <select id="user" name="user">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row">
        <div class="error error-inn"></div>
        <label for="inn">INN: </label>
        <input id="inn" type="text" name="inn" placeholder="INN">
    </div>
    <div class="row">
        <div class="error error-amount"></div>
        <label for="amount">Amount: </label>
        <input id="amount" type="text" name="amount" placeholder="Amount">
    </div>
    {% csrf_token %}
    <input type="submit">
</form>
</body>
<script src="{% static "script.js" %}"></script>
</html>
